.top-nav {
  nav {
    background-color: #0d63fe;
    min-height: 3rem;
    align-items: center;
    display: flex;
    justify-content: right;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 5rem;

    ul {
      display: flex;
      gap: 1rem;
      li {
        a {
          color: #fff;
          text-decoration: none;
          &:active,
          &:hover,
          &:focus {
            text-decoration: overline;
            color: antiquewhite;
          }
          svg {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
    }
  }
}
