.raising-issue-form {
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.10) 0 1px 3px 0;
    border: 1px solid hsla(203, 50%, 30%, 0.15);
    width: 60%;

    .cds--form-item {
        margin-bottom: 1rem;
    }
}